
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Admin Panelim</title>

    <!-- using online links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">

    <link href="~/memberDashboard/src/css/main.css" rel="stylesheet" />
    <link href="~/memberDashboard/src/css/sidebar-themes.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="~/memberDashboard/src/img/icons8-database-administrator-48.png" />
</head>

<body>
    <div class="page-wrapper default-theme bg1 toggled boder-radius-on">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <!-- sidebar-brand  -->
                <div class="sidebar-item sidebar-brand">
                    <a href="/Statistics/Index/">Admin Panelim</a>
                </div>
                <!-- sidebar-header  -->
                <!-- sidebar-menu  -->
                <div class=" sidebar-item sidebar-menu">
                    <ul>

                        <li>
                            <a href="/Statistics/Index/">
                                <i class="fa fa-home"></i>
                                <span class="menu-text">Anasayfa</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Categories/Index/">
                                <i class="fa fa-bars"></i>
                                <span class="menu-text">Kategoriler</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Writers/Index/">
                                <i class="fas fa-pen-nib"></i>
                                <span class="menu-text">Yazarlar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Books/Index/">
                                <i class="fa fa-book"></i>
                                <span class="menu-text">Kitaplar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Members/Index/">
                                <i class="fa fa-users"></i>
                                <span class="menu-text">Üyeler</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Staff/Index/">
                                <i class="fas fa-briefcase"></i>
                                <span class="menu-text">Personeller</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Loans/ToLend/">
                                <i class="fa fa-arrow-circle-left"></i>
                                <span class="menu-text">Ödünç Kitap Ver</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Loans/Index/">
                                <i class="fa fa-arrow-circle-right"></i>
                                <span class="menu-text">Ödünç Kitap Al</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Transactions/Index/">
                                <i class="fa fa-info"></i>
                                <span class="menu-text">İşlemler</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Notifications/Index/">
                                <i class="fa fa-bell"></i>
                                <span class="menu-text">Duyurular</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Showcase/Index/">
                                <i class="fas fa-globe"></i>
                                <span class="menu-text">Vitrin</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Hatali/Giris/">
                                <i class="fas fa-images"></i>
                                <span class="menu-text">404 Hata sayfası</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-footer  -->
            <div class="sidebar-footer">
                @if (User.IsInRole("A"))
                {
                    <div class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                            <span class="badge-sonar"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">

                            
                            <a class="dropdown-item" href="/Settings/Index/">Ayarlar</a>
                           

                        </div>
                    </div>
                }
                <div>
                    <a href="/Admin/LogOut/">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
                <div class="pinned-footer">
                    <a href="#">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                </div>
            </div>
        </nav>
        <!-- page-content  -->
        <main class="page-content pt-2">
            <div id="overlay" class="overlay"></div>
            <div class="container-fluid p-5">
                @RenderBody()
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <!-- using online scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/memberDashboard/src/js/main.js"></script>

</body>

</html>