@model Kutuphane.Models.Entity.Staff
@{
    ViewBag.Title = "FetchStaff";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("StaffUpdate", "Staff", FormMethod.Post))
{
    <div style="margin-top:15px"></div>
    <div class="form-group">
        @Html.LabelFor(p => p.Id)
        @Html.TextBoxFor(p => p.Id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(p => p.NameSurname)
        @Html.TextBoxFor(p => p.NameSurname, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>
}

