@model Kutuphane.Models.Entity.Staff
@{
    ViewBag.Title = "StaffAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Personel Ad Soyad</label>
        @Html.TextBoxFor(p => p.NameSurname, new {@class="form-control"})
        @Html.ValidationMessageFor(p=>p.NameSurname,"",new {@style="color:red"})
        @*<input type="text" class="form-control" name="NameSurname" />*@
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success" id="btn1">Ekle</button>
    </div>
</form>

