<div class="col-md-2">

    <a href="/Messages/NewMessage/" class="btn btn-primary btn-block mb-3">Yeni Mesaj</a>

    <div class="card">

        <div class="card-header">

            <h3 class="card-title" align="center">Menüler</h3>

            <hr class="m-2" />

            <div class="list-group">
                <a href="/Messages/Index/" style="text-align:left" class="list-group-item list-group-item-action">
                    <img src="https://img.icons8.com/metro/24/000000/inbox.png" /> <b>Gelen Kutusu</b>
                    <span style="color:white; float:right" class="badge rounded-pill bg-primary">@ViewBag.getedByMessageCount</span>
                </a>

                <a href="/Messages/PostedMessage/" align="center" class="list-group-item list-group-item-action">
                    <img src="https://img.icons8.com/material-outlined/24/000000/mail.png" /> <b>Giden Kutusu</b>
                    <span style="color:white; float:right" class="badge rounded-pill bg-warning">@ViewBag.postedByMessageCount</span>
                </a>

                <a href="#" align="center" class="list-group-item list-group-item-action">
                    <img src="https://img.icons8.com/wired/24/000000/paper.png" /> <b>Taslaklar</b>
                    <span style="color:white; float:right" class="badge rounded-pill bg-info">0</span>
                </a>

                <a href="#" align="center" class="list-group-item list-group-item-action">
                    <img src="https://img.icons8.com/material-outlined/24/000000/spam.png" /><b>Spam</b>
                    <span style="color:white; float:right" class="badge rounded-pill bg-secondary">0</span>
                </a>

                <a href="#" align="center" class="list-group-item list-group-item-action">
                    <img src="https://img.icons8.com/android/24/000000/trash.png" /> <b>Çöp Kutusu</b>
                    <span style="color:white; float:right" class="badge rounded-pill bg-danger">0</span>
                </a>
            </div>
        </div>

    </div>

</div>

