@using Kutuphane.Models.Entity
@model List<Messages>
@{
    ViewBag.Title = "PostedMessage";
    Layout = "~/Views/Shared/Membersdashboard.cshtml";
}

<h2>Gönderilen Mesajlar</h2>

<table class="table table-bordered">
    <tr>
        <th>Gönderilen Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
    </tr>
    @foreach (Messages result in Model)
    {
        <tr>
            <td>@result.GetedByMember</td>
            <td>@result.Subject</td>
            <td>@result.MessageContent</td>
            <td>@result.Date</td>
        </tr>

    }
</table>
