
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/memberDashboard/src/css/adminlte.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.Money TL</h3>

                <p>Kasa</p>
            </div>
            <div class="icon">
                <i class="fas fa-cash-register"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.MembersCount </h3>

                <p>Toplam Üye</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.BooksCount</h3>

                <p>Kitap sayısı</p>
            </div>
            <div class="icon">
                <i class="fas fa-book"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.LoansCount</h3>

                <p>Emanet Kitaplar</p>
            </div>
            <div class="icon">
                <i class="fas fa-book-reader"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
