@model Kutuphane.Models.Entity.Categories
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Kategori Ad</label>
        <input type="text" class="form-control" name="Name"  />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success" id="btn1">Ekle</button>
    </div>
</form>

